* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.introDiv {
  height: 400px;
  background: goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}

#textDiv {
  height: 100px;
}

ul {
  list-style: none;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#myprojects {
  color: blue;
  padding-left: 60px;
  font-size: 30px;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.cell {
  width: 385px;
  height: 385px;
  border: 1px solid;
  margin: auto;
}
