<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Donbosco</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/personal-portfolio/style/style.css" />
  </head>
  <body>
    <script src="" async defer></script>
    <!--<nav id="navbar" class="nav">
      <ul class="nav-list">
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="#myprojects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>-->
    <section id="introduction" class="intro-section">
      <h1>Hi I am Donbosco a software developer</h1>
    </section>

    <section id="myprojects" class="project-section">
      <h2 class="projects-section-header">My Projects</h2>
      <div class="projectContainer">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
    </section>

    <section id="contact"></section>
  </body>
</html>
